<template><div><h1 id="ao-vue-library" tabindex="-1"><a class="header-anchor" href="#ao-vue-library" aria-hidden="true">#</a> AO Vue Library</h1>
<p>AO Vue library consists of various Vue Components that can be used cross projects.</p>
<h3 id="installation" tabindex="-1"><a class="header-anchor" href="#installation" aria-hidden="true">#</a> Installation</h3>
<p>$ npm install @anmup/vue-library</p>
</div></template>


