<template><div><h1 id="auth-plugin" tabindex="-1"><a class="header-anchor" href="#auth-plugin" aria-hidden="true">#</a> auth plugin</h1>
<p>package for authentication  user in client-side by using cookies and vuex.
as we know  we just load page once in SPA because of that i write a small package for authentications user there.</p>
<h2 id="how-it-is-work" tabindex="-1"><a class="header-anchor" href="#how-it-is-work" aria-hidden="true">#</a> How it is work?</h2>
<p>when user refresh page we call function checkToken which will send a request get to server in a specific url.
which must impelement in back-end side and  must return current authenticate user in json fromat with an access token.</p>
<p>i will take this token  and put it inside axios headers to make a whole requests to be auth.</p>
<h2 id="installation" tabindex="-1"><a class="header-anchor" href="#installation" aria-hidden="true">#</a> Installation</h2>
<p><code v-pre>npm install @anmup/vue-library</code></p>
<blockquote>
<p>in code
<code v-pre>import { auth } from &quot;@anmup/vue-library&quot;</code></p>
</blockquote>
<h2 id="usage" tabindex="-1"><a class="header-anchor" href="#usage" aria-hidden="true">#</a> Usage</h2>
<p>use checkToken in main compoent</p>
<p>url: it's endpoint in server-side which will handle the requests.</p>
<h2 id="to-avoid-problem-use-the-same-format-in-server-side" tabindex="-1"><a class="header-anchor" href="#to-avoid-problem-use-the-same-format-in-server-side" aria-hidden="true">#</a> To avoid problem use the same format in server-side</h2>
<p>1- checkToken</p>
<pre><code>public function checkMyLogin()
{
    if (\Auth::guard('api')-&gt;check()) {
        return response()-&gt;json(['auth' =&gt; true, 'user' =&gt; \Auth::guard('api')-&gt;user()], 200);
    }

    return response()-&gt;json(['auth' =&gt; false], 200);
}
</code></pre>
<p>2- login</p>
<div class="language-text line-numbers-mode" data-ext="text"><pre v-pre class="language-text"><code>   public function Login(Request $request)
    {
        $credentials = $request->only('email', 'password');
        if (\Auth::attempt($credentials)) {
            \Auth::user()->access_token = \Auth::user()->createToken('Token Name')->accessToken;
            $result = \Auth::user()->save();
            return response()->json(['user' => \Auth::user(), 'auth' => $result], 200);
        }
        return response()->json(['message' => 'please check form your credentials'], 401);
    }
</code></pre><div class="line-numbers" aria-hidden="true"><div class="line-number"></div><div class="line-number"></div><div class="line-number"></div><div class="line-number"></div><div class="line-number"></div><div class="line-number"></div><div class="line-number"></div><div class="line-number"></div><div class="line-number"></div><div class="line-number"></div></div></div><p>3- logout</p>
<div class="language-text line-numbers-mode" data-ext="text"><pre v-pre class="language-text"><code>     public function Logout()
    {
        \Auth::user()->access_token = null;
        $result = \Auth::user()->save();
        return response()->json(['message' => $result], 200);
    }
</code></pre><div class="line-numbers" aria-hidden="true"><div class="line-number"></div><div class="line-number"></div><div class="line-number"></div><div class="line-number"></div><div class="line-number"></div><div class="line-number"></div></div></div><h2 id="api" tabindex="-1"><a class="header-anchor" href="#api" aria-hidden="true">#</a> API</h2>
<p>1- checkToken <br>
this.$authTradein.login('url')  <br>
return the response from the server to you and check if the user login before to avoid login again <br>
2- login  <br>
data = url and post data  <br>
for example data ={url:'api\login',user:'username',password:'123123'}  <br>
this.$authTradein.login(data)   <br>
return the response from the server to you  <br>
<br>
3- logout  <br>
this.$authTradein.login('url')   <br>
return the response from the server to you  <br></p>
<p>4- isAuth  <br>
this.$authTradein.isAuth()   <br>
return is current user is login before or not and is Auth <br></p>
</div></template>


