<template><div><h1 id="input-text" tabindex="-1"><a class="header-anchor" href="#input-text" aria-hidden="true">#</a> input-text</h1>
<p><code v-pre>InputText</code> is a input component.</p>
<h3 id="this-is-how-the-component-looks-like" tabindex="-1"><a class="header-anchor" href="#this-is-how-the-component-looks-like" aria-hidden="true">#</a> This is how the component looks like</h3>
<input-text /></div></template>


