<template><h1 id="input-text-area" tabindex="-1"><a class="header-anchor" href="#input-text-area" aria-hidden="true">#</a> input-text-area</h1>
<p><code>InputTextArea</code> is a input text area component.</p>
<template>
    <input-text-area/>
</template></template>
