<template><div><h1 id="input-text-area" tabindex="-1"><a class="header-anchor" href="#input-text-area" aria-hidden="true">#</a> input-text-area</h1>
<p><code v-pre>InputTextArea</code> is a input text area component.</p>
<h3 id="this-is-how-the-component-looks-like" tabindex="-1"><a class="header-anchor" href="#this-is-how-the-component-looks-like" aria-hidden="true">#</a> This is how the component looks like</h3>
<input-text-area/></div></template>


